# 5. Sets in Python

 * __Sets is 4-built in data type in Python used to store collection of data including list, tuple and Dictionary.__
 
 * __Sets elements are unordered, but you can add or remove an items in the set.__
 
 * __Set element are unique. Duplicate values are not allowed in the set.__
 
 * __A set itself may be modified, but the element contained in the set must be of an immutable type.__
 
 * __Sets are used to store multiple item in a single variable.__
 * __You can denote a pair of curly brackets.{}__

In [1]:
x1=['Hello World',3.147,2.718,3.147,2.718,True,False,True,False]
print(x1)
x2=set(x1)
print(x2)

['Hello World', 3.147, 2.718, 3.147, 2.718, True, False, True, False]
{False, True, 2.718, 3.147, 'Hello World'}

In [6]:
x={None}

print(x)
print(type(x))

{None}
<class 'set'>

In [8]:
x2={}
print(x2)
print(type(x2))

{}
<class 'dict'>

In [11]:
x3=set()
print(x3)
print(type(x3))

set()
<class 'set'>

In [13]:
x3={123,}
x3
x3.pop()
print(x3)

set()

In [2]:
x4={1,2,3}
x4.clear()
print(x4)

set()

In [3]:
# Intersection in set

x3={10,20,30,40,50}
x4={30,40,50,60,70,80}

# To find the intersection of these two sets.

x3.intersection(x4)

{30, 40, 50}

In [4]:
# another method for finding intersection

x=x3&x4
print(x)

{40, 50, 30}

In [7]:
print(x3)
print(x4)

# to finding the difference between two sets

print(x3-x4)
print(x4-x3)

{50, 20, 40, 10, 30}
{80, 50, 70, 40, 60, 30}
{10, 20}
{80, 60, 70}

In [9]:
# another method to find the difference between two sets.

print(x3.difference(x4))
print(x4.difference(x3))

{10, 20}
{80, 60, 70}

In [10]:
#  To find union between two sets.

print(x3.union(x4))

{70, 40, 10, 80, 50, 20, 60, 30}

In [15]:
a=[1,2,3,4,5,5,5,6,6,7,7,8,9,6,7,8,9,10]
b={1,2,3,4,5,5,5,6,6,7,7,8,9,6,7,8,9,10}

print('Minimum value of a is:',min(a))
print('Minimum value of b is:',min(a))
print('Maximum value of a is:',max(a))
print('Maximum value of a is:',max(b))
print('Maximum value of a is:',sum(a))
print('Maximum value of a is:',sum(b))

Minimum value of a is: 1
Minimum value of b is: 1
Maximum value of a is: 10
Maximum value of a is: 10
Maximum value of a is: 108
Maximum value of a is: 55

In [16]:
x3

{10, 20, 30, 40, 50}

In [17]:
x4

{30, 40, 50, 60, 70, 80}

In [20]:
print(x3.symmetric_difference(x4))

{80, 20, 70, 10, 60}